@font-face {
    font-family: 'NymphaTrial';
    src: url('/NymphaTrial-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NymphaTrial';
    src: url('/NymphaTrial-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'NymphaTrial';
    src: url('/NymphaTrial-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'NymphaTrial';
    src: url('/NymphaTrial-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'ArbMuslimah';
    src: url('/ArbFONTS-Muslimah-Thin_0.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
  }
  .font-nympha {
    font-family: 'NymphaTrial', sans-serif;
  }
  .font-arbMuslimah {
    font-family: 'ArbMuslimah', sans-serif;
  }
  
  